<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kal's webshop</title>
    {% load static %}
    <link rel="stylesheet" href="{%  static 'shop/styles/screen.css' %}">
</head>
<body>
    <img class="logo" src="{% static 'shop/images/webshop.png' %}" alt="kal webshop">
    {% load html_formatters %}
    {% for product in products %}
    <div>{{product.name }}, {{ product.price|currency_birr }}</div>
    {% endfor %}
</body>
</html>