{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kal Web-Shop</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<body>

    <header>
      <div class="m-4">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class=" btn btn-primary" >Web-Shop</a>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav">
                      <a href="{% url 'home' %}" class="nav-item nav-link  ">Home</a>
                      <a href="{% url 'items'%}" class="nav-item nav-link ">Items</a>
                      
                      <a href="{% url 'contact_us'%}" class="nav-item nav-link active">CONTACT US</a>
                    </div>
                    <div class="navbar-nav ms-auto">
                        <a href="{% url 'sign' %}" class="nav-item nav-link">Login Page</a>
                    </div >
                </div>
            </div>
        </nav>
    </div>
</header>
    </header>

    <section id="contact" class="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3940.3206125075!2d38.75909097934571!3d9.034489699999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x164b8f61dd87e2bf%3A0x1ba2590b6d518232!2s2QM6%2BQMW%2C%20Addis%20Ababa!5e0!3m2!1sen!2set" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="col-md-4">
                    <h1 class="heading">Contact Us</h1>
                    <div class="contact-form">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                              <div class="mb-3">
                                <label for="full_name" class="form-label">Full Name</label>
                                <input type="text" class="form-control" id="full_name" name="full_name" required>
                              </div>
                              <div class="mb-3">
                                <label for="email" class="form-label">Email Address</label>
                                <input type="email" class="form-control" id="email" name="email" required>
                              </div>
                              <div class="mb-3">
                                <label for="title" class="form-label">Title</label>
                                <input type="text" class="form-control" id="title" name="title" required>
                              </div>
                              <div class="mb-3">
                                <label for="description" class="form-label">Description</label>
                                <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
                              </div>
                              <div class="mb-3">
                                <label for="file" class="form-label">Upload File</label>
                                <input type="file" class="form-control" id="file" name="file">
                              </div>
                              <button type="submit" class="btn btn-primary">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer id="footer">
      <section class="footer" id="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <h3>Quick Links</h3>
              <ul>
            <li>   <a href="index.html"><i class="home"></i> Home</a></li>
            <li> <a href="vehicles.html"><i class="home"></i> Vehicles</a></li>
          
            <li> <a href="contact.html"><i class="home"></i> Contact</a></li>
            </ul>
            </div>
  
            <div class="col-md-4">
              <h3>Contact Info</h3>
              <ul>
               
               <li> <a href="tel:+251929231706"><i class="phone"></i> +251 929 231 706</a></li>
               <li> <a href="tel:+251715273535"><i class="phone"></i> +251 715 273 535</a></li>
               <li><a href="tel:+251929231706"><i class="phone"></i> +251 988 168 953</a></li>
              </ul>
          
            </div>
  
            <div class="col-md-4">
              <h3>Social Media</h3>
              <ul>
            
            
                 <li> <a href="https://t.me/nattiep">Telegram</a> </li>
                <li> <a href="mailto:natiephrem501@gmail.com"> Email</a></li> 
            </ul>
            </div>
          </div>
  
          <div class="credit">© 2023 Nati Cars | All Rights Reserved</div>
        </div>
      </section>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>